body {
	font-family: 'Cuprum', sans-serif;
	/*font-family: 'Questrial', sans-serif;*/
	text-align: center;
	background-image: url(../images/background.png);
}



h1 {
	font-size: 50px;
}

.answer {
	background-color: grey;
	opacity: .8;
}

.answer:hover {
	opacity: 1.0;
}